/* Navbar */
nav{
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 580px;
  border-top: 1px solid #ddd;
  z-index: 99999;
}
nav>ul{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
nav>ul>li{
  width: 33%;
  text-align: center;
}
nav>ul>li>a{
  color: #fff;
  font-size: 50px;
}

/* Home */
article{
  padding-top: 10px;
}
article>section{
  padding: 10px 20px;
  margin-bottom: 30px;
}
article>section>h2{
  font-size: 25px;
  margin-bottom: 25px;
  color: #fff;
}
.swiperWrap figure img{
  width: 80%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.swiperWrap figure dl>dt{
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
}
.swiperWrap figure dl>dd{
  margin-bottom: 10px;
  color: #fff;
}
.swiperWrap figure dl>dd:last-child{
  margin-bottom: 0;
}
.swiperWrap figure dl>dd button{
  color: red;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}
.swiperWrap{
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;
}
.swiper-wrapper{
  text-align: center;
}

/* Wish */
#wishWrap{
  min-height: calc(100vh - 142px);
}
#wishWrap>p{
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 30px;
}
#wishWrap>p>button{
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
  background-color: #ddd;
  line-height: 2;
}
#wishList{
  width: 80%;
  margin: 0 auto 10px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}
#wishList>figure{
  width: 33%;
  text-align: center;
  margin-bottom: 25px;
}
#wishList>figure img{
  width: 80%;
  margin-bottom: 10px;
  border-radius: 10px;
}
#wishList>figure>figcaption dt{
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
}

#wishList>figure>figcaption dd{
  display: flex;
  justify-content: center;
}
#wishList>figure>figcaption dd>button{
  border: none;
  padding: 5px;
  border-radius: 50%;
  font-size: 18px;
  background-color: red;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}